:root {
  --page-bg: rgb(23, 22, 24);
  --component-bg: rgb(37, 36, 38);
  --component-active-bg: rgb(44, 42, 43);
  --component-hover-bg: rgb(48, 47, 47);
  --component-border: rgb(42, 41, 44);
  --component-shadow: rgba(42, 41, 44, 0.5);
  --component-shadow--lighter: rgba(247, 130, 47, 0.25);
  --component-text-shadow: rgba(25, 23, 24);
  --primary: #ff7b1e;
  --primary-hover: #ff9041;
  --primary-active: #ff8b39;
  --primary-text: #aaabaa;
  --regular-text--lighter: #a19fa0;
  --regular-text: #989694;
  --secondary-text: #7c7b7b;
  --placeholder-bg: rgb(28, 26, 29);
  --placeholder: #6c6c6a;
  --placeholder--darker: #4e4d4f;
  // features
  --chain-tag-bg: rgb(62, 61, 64);
  --showcase-bg: rgb(62, 61, 64);
  --showcase-tag-bg: rgb(86, 84, 88);
  --showcase-shadow: rgba(23, 22, 24, 0.625);
  --showcase-shadow--lighter: rgba(32, 31, 34, 0.25);
}
